body {

    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#minecraft {
    height: 375px;
    width: 275px;
}

#home {
    background: linear-gradient(#00ff21 0%,#00ff90 100%);
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: table;
}

#why {
    width: 100%;
    overflow: hidden;
    height: 100%;
    margin: 8px auto;
}

div {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

#line {
    height: 10px;
    background-color: #00ff90;
    width: 70px;
    left: 540px;
}
#bar {
    list-style:none;
    background-color:#00ff21;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin: 0px;
}
.menu {
    float: left;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    font-size: 16px;
}
    .menu:hover {
        background: linear-gradient(#00ffff 0%,#0094ff 100%);
        font-size: 18px;
    }
#mcspan {
        font-family:Georgia;
        font-size:20px;    
}
li a {
    scroll-behavior:smooth;
}
